@model IEnumerable<library1.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>All Books</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="product-list" data-aos="fade-up">
    <div class="row">


        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="product-item">
                    <figure class="product-style">
                        <img src="~/templates/images/product-item1.jpg" alt="Books" class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                            Add to
                            Cart
                        </button>
                    </figure>
                    <figcaption>
                        <h3>@item.Title</h3>
                        <span>@item.Author</span>
                        <div class="item-price">@item.Price</div>
                    </figcaption>
                </div>
            </div>

        }


    </div><!--ft-books-slider-->
</div><!--grid-->
